@font-face {
    font-family: 'Inter';
    src: url('./fuentes/Inter/Inter-Regular.ttf');

}

@font-face {
    font-family: 'Titulo2';
    src: url('./fuentes/Inter/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Romanesco';
    src: url('./fuentes/Romanesco/Romanesco-Regular.ttf');
}

body{
  margin: 0px;
  padding: 0px;
 }

/********************************************************************************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #A3A656;
  height: 70px;
  font-family: 'Inter';
  font-size: 16px; 
}

header ul li:hover{
    color: #FFFF00
}

.opciones {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.opciones ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 70px;
  margin: 0px;
}

.usuario {
  display: flex;
  justify-content: right;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  flex-grow:1 ;
}

.usuario ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

.idioma {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0px;
}

.idioma ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0px;
    padding-right: 15px;
    align-items: center;
}

/*******************************************************************************/

.frase{
    background-image: url('./images/main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 670px;
}

.romanesco{
    font-family: 'Romanesco';
    font-size: 96px;
    color: #000;
    margin: 0px;
    padding: 140px 200px 0px ;
}

.frase h5{
    font-family: 'Titulo2';
    font-size: 32px;
    color: #000;
    margin: 0px;
    padding: 30px 200px 0px ;
}

/*******************************************************************************/

main form {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100px;
  padding: 10px;
  font-family: 'Inter';
  background-color: #F2F6F6;
}

main form label{
    padding: 10px;
}

main form input {
  border-radius: 10px;
  padding: 15px 30px;
  border: none;
}

/*******************************************************************************/

.tarjetas {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 100px 40px 40px;
  gap: 134px;
  font-family: 'Titulo2';
  font-size: 32px;
}

.tarjetas div h5{
    background-color: #A3A656;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 0px;
    color: #ffff;
}

.tarjetas div img{
    width: 100%;
    height: 100%;
}

.tarjetas div .letritas{
    font-size: 16px;
}

.maldita {
    box-sizing: border-box ;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}

.maldita button{
    background-color: #A3A656;
    box-sizing: border-box;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 35px;
    margin: 10px;
    height: 40px;
    border: none;
    font-family: 'Titulo2';
    font-size: 14px;
}

.maldita button:hover{
    background-color: #384001;
}

.maldita h4{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

/*******************************************************************************/

.main2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 770px;
    background-color: #F2F6F6;
}

.main2 h2{
    box-sizing: border-box;
    padding-top: 20px;
    font-family: 'Titulo2';
    font-size: 32px;
}

.planes{
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px;
}

.planes div{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
}

.circulo{
    width: 255px;
    height: 255px;
    border: #384001 10px solid;
    background-color: #ffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.planes div img{
    aspect-ratio: 233px; 
}

.planes div h5{
    font-family: 'Inter';
    font-size: 24px;
    margin: 0px;
    padding: 7px 0px 20px;
}

.planes div button{
    background-color: #A3A656;
    font-family: 'Titulo2';
    font-size: 14px;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 35px;
    margin: 20px;
    border: none;
}

.planes div button:hover{
    background-color: #384001;
}

.planes div ul{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter';
    font-size: 14px;
}

/*******************************************************************************/
.inferior {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    background-color: #384001;
    color: #A3A656;
    font-family: 'Inter';
    font-size: 16px;
    height: 97px;
}

footer ul li:hover{
    color: #FFFF00
}

footer ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
  margin: 0px;
  padding: 0px;
}

.footerLeft{
    margin-left: 70px;
}

.footerRight{
    margin-right: 70px;
}

